$borderColor: #cfcfcf;
$primaryColor: rgb(0, 140, 255);
$lightColor:rgb(153, 153, 153);

.userbadge-container{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border:1px solid $borderColor;
    padding:0.5rem;
    margin:8px;
    width:220px;
    height:130px;
    border-radius:5px;

    .picture
    {
        border-radius:50%;
        cursor: pointer;
    }

    .username
    {
        font-size:0.8rem;
        color: $lightColor;
    }

    .email
    {
        font-size:0.75rem;
        color:$primaryColor;
    }

    .nat-flag{
        position: absolute;
        margin-left:170px;
    }
}